<!DOCTYPE html>
<html>
    <head>
        <title>NSC</title>
        <link rel="stylesheet" href="../static/nsc.css">
    </head>
    <body>
        <div>
            <button onclick="loadPage('')">Home</button>
        </div>
        <div>>
        <label for="meterSize">Select Meter Size:</label>
        <select name="meterSize" id="meterSize">
            <option value='5/8"'>5/8"</option>
            <option value='3/4"'>3/4"</option>
            <option value='1"'>1"</option>
            <option value='1 1/2"'>1 1/2"</option>
        </select>
        <p value="meterSize"></p>
        <button onclick="sizeQuery()"></button>
        </div>

        <pre id="feeResults"></pre>
        <script src="../static/nsc.js"></script>
    </body>
    